#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>



/ {
    chosen {
        zmk,kscan = &kscan;
        zmk,matrix_transform = &transform;
    };
    
    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        };
        led1: led_1 {
            gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
        };
        led2: led_2 {
            gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
        };
    };


    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        row-gpios = <&pro_micro 10 (GPIO_ACTIVE_LOW)>,  /* Pro Micro B6 -> P0.10 */
                    <&pro_micro 16 (GPIO_ACTIVE_LOW)>,  /* Pro Micro B2 -> P0.11 */
                    <&pro_micro 14 (GPIO_ACTIVE_LOW)>,  /* Pro Micro B3 -> P0.12 */
                    <&pro_micro 15 (GPIO_ACTIVE_LOW)>,  /* Pro Micro B1 -> P0.13 */
                    <&pro_micro 18 (GPIO_ACTIVE_LOW)>,  /* Pro Micro F7 -> P0.14 */
                    <&pro_micro 19 (GPIO_ACTIVE_LOW)>,  /* Pro Micro F6 -> P0.15 */
                    <&pro_micro 20 (GPIO_ACTIVE_LOW)>,  /* Pro Micro F3 -> P0.16 */
                    <&pro_micro 21 (GPIO_ACTIVE_LOW)>;  /* Pro Micro F4 -> P0.17 */

        col-gpios = <&pro_micro 1  (GPIO_ACTIVE_LOW)>,  /* Pro Micro D3 -> P0.02 */
                    <&pro_micro 0  (GPIO_ACTIVE_LOW)>,  /* Pro Micro D2 -> P0.03 */
                    <&pro_micro 2  (GPIO_ACTIVE_LOW)>, /* Pro Micro D1 -> P0.28 */
                    <&pro_micro 3  (GPIO_ACTIVE_LOW)>, /* Pro Micro D0 -> P0.29 */
                    <&pro_micro 4  (GPIO_ACTIVE_LOW)>, /* Pro Micro D4 -> P0.30 */
                    <&pro_micro 5  (GPIO_ACTIVE_LOW)>, /* Pro Micro C6 -> P0.31 */
                    <&pro_micro 6  (GPIO_ACTIVE_LOW)>,  /* Pro Micro D7 -> P1.02 */
                    <&pro_micro 7  (GPIO_ACTIVE_LOW)>,  /* Pro Micro E6 -> P1.04 */
                    <&pro_micro 8  (GPIO_ACTIVE_LOW)>;  /* Pro Micro B4 -> P1.06 */
    };

    transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <5>;
        columns = <16>;

        map = <
                     RC(0, 0) RC(0, 1) RC(0, 2) RC(0, 3) RC(0, 4) RC(0, 5) RC(0, 6) RC(0, 7) RC(0, 8) RC(1, 0) RC(1, 1) RC(1, 2) RC(1, 3)     RC(1, 4)      RC(1, 5) RC(1, 6)
                     RC(1, 7)   RC(1, 8) RC(2, 0) RC(2, 1) RC(2, 2) RC(2, 3) RC(2, 4) RC(2, 5) RC(2, 6) RC(2, 7) RC(2, 8) RC(3, 0) RC(3, 1)    RC(3, 2)     RC(3, 3) RC(3, 4)
                      RC(3, 5)    RC(3, 6) RC(3, 7) RC(3, 8) RC(4, 0) RC(4, 1) RC(4, 2) RC(4, 3) RC(4, 4) RC(4, 5) RC(4, 6) RC(4, 7)          RC(4, 8)
                       RC(5, 0)     RC(5, 1) RC(5, 2) RC(5, 3) RC(5, 4) RC(5, 5) RC(5, 6) RC(5, 7) RC(5, 8) RC(6, 0) RC(6, 1)                RC(6, 2)       RC(6, 3)
                     RC(6, 4) RC(6, 5) RC(6, 6)                             RC(5, 7)                          RC(5, 8) RC(7, 0) RC(7, 1)           RC(7, 2) RC(7, 3) RC(7, 4)
        >;
    };

};